body {
    background-color: #EBEBEB;
    font-family: 'Rubik', sans-serif;
}

::selection {
    color: white;
    background: #F25918;
}

h1 {
    color: #282829;
    font-size: 350%;
    margin-bottom: 2%;
}

a {
    color: #F25918;
    text-decoration: none;
    font-size: 150%;
    display: inline-block;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#main {
    margin: auto;
    margin-top: 20%;
    width: 50%;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    h1 {
        margin-top: 70%;
        margin-bottom: 10%;
    }
    a {
        font-size: 200%;
        margin-bottom: 10%;
    }

}
