body {
	  font-family: 'Rubik', sans-serif;
	  font-size: 175%;
    background-color: #EBEBEB;
}

::selection {
    color: white;
	  background: #F25918;
}

h1 {
    color: #282829;
    margin-top: 2%;
    margin-bottom: 0.5%;
}

li {
	  color: #F25918;
    list-style-type: decimal;
    display: inline-block;
}

hr {
	  border: 0;
	  height: 2px;
	  max-width: 50%;
	  background: #F25918;
}

#links > a {
	  color: #F25918;
	  text-decoration: none;
	  transition: 0.3s ease;
    display: inline-block;

    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
}

#links > a:hover {
	  color: #FFC266;
}

#links {
    width: 50%;
    margin: auto;
    text-align: center;
}

#buttons {
    text-align: center;
    margin: auto;
}

.button {
	  border: 0;
  	border-radius: 13px;
  	padding: 0.5% 1% 0.5% 1%;
    margin-bottom: 0.5%;
    margin-right: 0.5%;
    margin-left: 0.5%;

	  font-size: 80%;
	  color: white;
  	background: #F25918;

  	text-decoration: none;
  	transition: 0.3s ease;
}

.button:hover {
    background: #FFC266;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    h1 {
        margin-top: 10%;
        margin-bottom: 2%;
    }

    #links {
        width: 80%;
    }

    #links > a {
        padding-bottom: 5%;
    }

    .button {
  	    padding: 1.5% 2% 1.5% 2%;
        margin-bottom: 1%;
    }

    hr {
	      max-width: 80%;
    }
}
