<!DOCTYPE html>
<head>
    <title>Links</title>
    <meta name="viewport" content="width=device-width; initial-scale=1;" />
    <link rel="stylesheet" href="./links.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>
<html>
	  <body>
		    <div id="buttons">
            <h1>List of Links</h1>
			      <button onclick="random_link()" class="button">Random Link</button>
            <a target="_blank" href="https://gitlab.com/yamanq/website/-/issues">
                <button class="button">Submit a Link</button>
            </a>
		    </div>
		    <hr>
		    <div id="links" title="links">
{{LINKS}}
        </div>
	  </body>
	  <script src="./links.js"></script>
</html>
